  <div class="form-inputs">
   <%= f.hidden_field :user_father, value: current_user.user_father %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :role, collection: ["standard", "admin"], include_blank: false %>
    <%= f.association :company, label_method: :description, selected: current_user.company_id, value: current_user.company_id, value_method: :id, disabled: true %>
  </div>

  <hr />
  <h3>Choose groups</h3>

  <%= f.collection_radio_buttons :group_id, Group.all, :id, :description %>

  <hr />

  <div class="form-actions">
    <%= f.button :submit %>
  </div>