<%= simple_form_for(@user, url: control_users_path(@user)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :role, collection: ["standard", "admin"], include_blank: false %>
  </div>

  <hr />
  <h3>Choose groups</h3>


  <hr />
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
