  <div class="form-inputs">

    <% if current_user.admin? %>
       oi
      <%= f.hidden_field :father_id, value: current_user.id %>
    <% else %>
      oi2
      <%= f.hidden_field :father_id, value: current_user.id %>
    <% end %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :role, collection: ["standard", "admin"], include_blank: false %>
    <%= f.association :company, label_method: :description, selected: current_user.company_id, value: current_user.company_id, value_method: :id %>
  </div>

  <hr />
  <h3>Choose groups</h3>

  <%= f.collection_radio_buttons :group_id, Group.all, :id, :description %>

  <hr />

  <div class="form-actions">
    <%= f.button :submit %>
  </div>