<h1>Listing Users</h1>

<% if current_user.id? %>
<table class="table table-striped custab">
  <thead>
    <tr>
      <th>Email</th>
      <th>User Father</th>
      <th>Group</th>
      <th>Companies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.father_id.present? ? user.father.email : "Não se aplica" %></td>
        <td><%= user.group_id.present? ? user.group.description : "Não se aplica" %></td>
        <td><%= user.company_id.present? ? user.company.description : "Não se aplica" %></td>
        <td><%= link_to("Editar", edit_control_user_path(user)) %></td>
        <td><%= link_to 'Remover', control_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p class="alert alert-warning">No one user created!</p>
<% end %>

<br>

<%= console %>