<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :description %>
  </div>

  <hr />
  <h3>Add Functionalities</h3>

  <div class="form-inputs">
    <%= f.collection_check_boxes :functionality_ids, Functionality.all, :id, :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>