<%= simple_form_for(@group_functionality) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :group %>
    <%= f.association :functionality %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
