<p id="notice"><%= notice %></p>

<h1>Listing Group Functionalities</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Functionality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_functionalities.each do |group_functionality| %>
      <tr>
        <td><%= group_functionality.group %></td>
        <td><%= group_functionality.functionality %></td>
        <td><%= link_to 'Show', group_functionality %></td>
        <td><%= link_to 'Edit', edit_group_functionality_path(group_functionality) %></td>
        <td><%= link_to 'Destroy', group_functionality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group functionality', new_group_functionality_path %>
